@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@layer base{
    body{
        @apply font-[];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}
.img-contain img{
    border-radius:50%;
    border: 2px solid blue;
}

.my-logo{
    border-radius: 50%;
}
.typi{
    color: blue;
}
.title-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
    height: 80px;
}

.content-div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8)
        hsla(242,74%,61% 0.8)
    );
}